<form class="filter-card" [formGroup]="filterForm">

  <h2>Mettre à jour la liste des programmes</h2>

  <pnx-input
    label="Nom du filtre"
    formControlName="name">
  </pnx-input>

  <pnx-select
    label="Lieu d’observation"
    formControlName="monitoringLocation"
    [options]="sugested_locations"
    optionLabel="label"
    optionValue="code"
    [searchBar]="true">
  </pnx-select>

  <div class="filter-actions">
    <button mat-raised-button class="button-success"
            [disabled]="filterForm.invalid"
            (click)="applyFilter()">
      <mat-icon>check_circle</mat-icon>
      Valider
    </button>

    <button mat-raised-button color="warn" (click)="close.emit()">
      <mat-icon>close</mat-icon>
      Fermer
    </button>
  </div>

</form>
